*.pyc
*.pyo
*.swp
./data_reduction/*.pyc
./data_reduction/*.pyo
./data_reduction/*.swp
./tests/*.pyc
./tests/*.pyo
./tests/*.swp
.spyderproject
.spyderworkspace
./bin/.spyderworkspace
./data_reduction/*.dat
